<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.mayo.cts2.framework.plugin.service.umls.mapper.CodeSystemMapper">

  <select id="getRootSourceDTO" 
  	resultType="edu.mayo.cts2.framework.plugin.service.umls.mapper.RootSourceDTO" 
  	parameterType="string">
    SELECT
    	rs.ABBREVIATION as abbreviation, 
    	rs.SHORT_NAME AS shortName,
    	cil.VALUE AS licenseContact,
    	cic.VALUE AS contentContact
    FROM ROOT_SOURCES rs
    INNER JOIN
    	CONTACT_INFORMATION cil
    ON
    	rs.LICENSE_CONTACT = cil.ID
    INNER JOIN
    	CONTACT_INFORMATION cic
    ON
    	rs.CONTENT_CONTACT = cic.ID
    WHERE
    	rs.ABBREVIATION = #{sab}
  </select>
  
  <select id="searchRootSourceDTOs"
  	resultType="edu.mayo.cts2.framework.plugin.service.umls.mapper.RootSourceDTO">
    SELECT
        *
    FROM (
        SELECT
            rs.ABBREVIATION as abbreviation,
            rs.SHORT_NAME AS shortName,
            rs.EXPANDED_FORM as expandedForm,
            cil.VALUE AS licenseContact,
            cic.VALUE AS contentContact,
            ROW_NUMBER()
        OVER (ORDER BY rs.ABBREVIATION) rn
        FROM ROOT_SOURCES rs
        INNER JOIN
            CONTACT_INFORMATION cil
        ON
            rs.LICENSE_CONTACT = cil.ID
        INNER JOIN
            CONTACT_INFORMATION cic
        ON
            rs.CONTENT_CONTACT = cic.ID
        <if test="searchObject != null">
        WHERE
            1=1
            <if test="searchObject.abbreviation != null">
            AND UPPER(rs.ABBREVIATION) LIKE UPPER(#{searchObject.abbreviation})
            </if>

            <if test="searchObject.shortName != null">
            AND UPPER(rs.SHORT_NAME) LIKE UPPER(#{searchObject.shortName})
            </if>
        </if>
    )
    WHERE
        rn
    BETWEEN
        #{start}
        AND
        #{end}

  </select>

</mapper>