<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.mayo.cts2.framework.plugin.service.umls.mapper.MapEntryMapper">
  
  <select id="geCuiToCodeDTOsFromSourceCui" 
  	resultType="edu.mayo.cts2.framework.plugin.service.umls.mapper.CuiToCodeDTO">
		select distinct
			concepts.UI as conceptUI, 
        	codes.UI as codeUI,
			atoms.ROOT_SOURCE as rootSource
		from  Concepts concepts
		inner join
			Atoms atoms on concepts.id = atoms.concept_id
        inner join
            Codes codes on codes.id = atoms.code_id
        where 
        	atoms.ROOT_SOURCE = #{sab}
        	AND
        	concepts.UI = #{cui}
        	
  </select>

</mapper>